
<div class="container padded-top">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for [@motorcycle, @booking] do |f| %>
        <%= f.input :address %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit "request booking", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

  <div class="child_1" id="map" style="width: 100%; height: 600px" data-markers="<%= @markers.to_json %>">
  </div>

  <div class="child_2">
    <%= simple_form_for [@motorcycle, @booking] do |f| %>
      <%= f.input :address %>
      <%= f.submit "Enter delivery address", class: "btn btn-primary" %>
    <% end %>
    <br>
    <%= simple_form_for [@motorcycle, @booking] do |f| %>
      <%= f.submit "Confirm location and book motorcycle", class: "btn btn-primary" %>
    <% end %>
  </div>

  <%= javascript_tag do %>

  document.addEventListener("DOMContentLoaded",function(event) {

  var url = new URL(window.location.href);
  var start = url.searchParams.get("token_start");
  var end = url.searchParams.get("token_end");
  var start_input = document.getElementById("start_date");
  console.log(start_input);
  var end_input = document.getElementById("end_date");
  start_input._flatpickr.setDate(start,true, "Y-m-d");
  end_input._flatpickr.setDate(end,true, "Y-m-d");


});




  <% end %>

