<div class="container">

  <div class="child_1" id="map" style="width: 100%; height: 600px" data-markers="<%= @markers.to_json %>">
  </div>

  <div class="child_2">
    <%= simple_form_for [@motorcycle, @booking] do |f| %>
      <%= f.input :address %>
      <%= f.submit "Enter delivery address", class: "btn btn-primary" %>
    <% end %>
    <br>
    <%= simple_form_for [@motorcycle, @booking] do |f| %>
      <%= f.submit "Confirm location and book motorcycle", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
