<h1>List of motorcycles</h1>

  <% @motorcycles.each do |moto|%>
  <h3><%= link_to moto.name, motorcycle_path(moto) %></h3>
  <p><%= moto.motor_type  %></p>
  <p><%= moto.price.to_s + "USD per day" %></p>
  <p><%= link_to "Edit", edit_motorcycle_path(moto) %></p>
  <%= link_to "Delete", moto, method: :delete, data: { confirm: "Are you sure you want to delete this motorcycle?" } %>
  <% end %>

  <%= "No motorcycles available in selected dates" if @motorcycles.empty? %>

