<h2>Create a new motorcyle</h2>

<%= simple_form_for @motorcycle do |f| %>
  <%= f.input :name, label: 'Name' %>
  <%= f.input :motor_type, label: 'Type' %>
  <%= f.input :description, label: 'Description' %>
  <%= f.input :price, label: 'Price' %>
  <%= f.input :uploaded_photo %>
  <%= f.input :uploaded_photo_cache, as: :hidden %>
  <%= f.button :submit %>
<% end %>

