<h2><%= @motorcycle.name %></h2>
<p><%= @motorcycle.motor_type  %></p>
<p><%= @motorcycle.description  %></p>
<p><%= @motorcycle.price.to_s + "USD per day" %></p>


 <% if @motorcycle.uploaded_photo.present? %>
  <%= cl_image_tag(@motorcycle.uploaded_photo, height: 300, width: 400, crop: :fill) %>
  <% else %>
  <%= image_tag(@motorcycle.picture) %>
<% end %>

<button>
  <%= link_to "Book #{@motorcycle.name} now", new_motorcycle_booking_path(@motorcycle) %>
</button>

