<h2><%= @motorcycle.name %></h2>
<p><%= @motorcycle.motor_type  %></p> 
<p><%= @motorcycle.description  %></p>
<p><%= @motorcycle.price.to_s + "USD per day" %></p>
<%= image_tag(@motorcycle.picture) %>
